# ==== SUPABASE ====
# Ambil dari Supabase Dashboard > Project Settings > APINEXT_PUBLIC_SUPABASE_URL=https://blfzxvukiwpifmimovhf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJsZnp4dnVraXdwaWZtaW1vdmhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3OTU2ODQsImV4cCI6MjEwMTM3MTY4NH0.PLMDlVhUcsf_4cqBTZAXeQVBY7I_DXDdEhRtW_sGqM0
# Service Role Key -> JANGAN pernah expose ke client, hanya dipakai di API route server-side
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJsZnp4dnVraXdwaWZtaW1vdmhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTc5NTY4NCwiZXhwIjoyMTAxMzcxNjg0fQ.psONO_LKJmLGh-ly3jTb5BsBrZdv529WoFcluOZnJKw

# ==== TELEGRAM BOT ====
# Ambil dari @BotFather setelah /newbot
TELEGRAM_BOT_TOKEN=7609641374:AAE2yrBjt07yOwmzDnWXA-tB2HGPQyc32WI
# Secret bebas, dipakai untuk validasi webhook (isi string acak sendiri)
TELEGRAM_WEBHOOK_SECRET=ArsTrck0001
# ==== CRON ====
# Secret bebas untuk melindungi endpoint reminder dari akses publik
CRON_SECRET=ArsTrck0002

# ==== APP ====
NEXT_PUBLIC_APP_URL=https://rekap-report-md-ecru.vercel.app
